:root {
   --White: hsl(0, 0%, 100%);
   --Slate-300: hsl(212, 45%, 89%);
   --Slate-500: hsl(216, 15%, 48%);
   --Slate-900: hsl(218, 44%, 22%);
}



Body {
    height: 100vh;
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    }

 
main {
    background-color: var(--White);
    text-align: center;
    max-width: 16.5rem;
    padding: 1rem;
    border-radius: 1.2rem;
    font-family: "Outfit", sans-serif;
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}

section {
    padding: 0.5rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--Slate-900);
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--Slate-500);
}